<div class="main-container">	
	<section class="bg-secondary">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                  <h2>创造 + 分享</h2>
                  <p class="mb40 mb-xs-24">摄影与文艺, &nbsp;你的作品, 让全世界看到<br>免费授权使用的手选佳片</p>
                  <a class="mb0 btn btn-lg btn-filled" href="#purchase-template">上传你的作品</a>
              </div>
          </div>
          
      </div>
  </section>

  <section class="projects p0 bg-dark">
    <div class="row masonry-loader fixed-center">
        <div class="col-sm-12 text-center">
            <div class="spinner"></div>
        </div>
    </div>
    <div class="row masonry masonryFlyIn">
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="/pages/single-photo">
                    <%= image_tag 'project-single-1.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0" style="line-height: 35px;"><a href="/pages/user.html" ><p style="margin:0 auto;width:30px;height:30px;border-radius: 100px;background:url(http://placehold.it/100x100);border: 1px solid #eee;"></p>凝固的黎明</a></h5>
                        <span>People / Life</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Animals">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-2.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Lonely Dog</h5>
                        <span>Animals / Art</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-3.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Pondering Blonde</h5>
                        <span>People / Life</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Objects">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-5.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Vintage Typewriter</h5>
                        <span>Objects / Isolated</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Objects">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-4.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Summer Lovin'</h5>
                        <span>Objects / Food</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-6.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Thick Fog</h5>
                        <span>People / Life</span>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-1.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0" style="line-height: 35px;">凝固的黎明</a></h5>
                        <span>People / Life</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Animals">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-2.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Lonely Dog</h5>
                        <span>Animals / Art</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-3.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Pondering Blonde</h5>
                        <span>People / Life</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Objects">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-5.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Vintage Typewriter</h5>
                        <span>Objects / Isolated</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Objects">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-4.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Summer Lovin'</h5>
                        <span>Objects / Food</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-6.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Thick Fog</h5>
                        <span>People / Life</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
  </section>
  <section class="image-bg bg-dark parallax overlay pt120 pb120">
      <div class="background-image-holder">
          <img alt="Background Image" class="background-image" src="https://images.unsplash.com/photo-1431631927486-6603c868ce5e?dpr=2&auto=compress,format&fit=crop&w=1000">
      </div>
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center">
                  <h2 class="uppercase mb8">从前的样子</h2>
                  <p class="lead mb40">说不完的话，拍不完的片，转瞬而去却依然如初<br>怀旧光影题材主题征集作品中</p>
                  <a class="btn btn-lg btn-white mb0" href="#">参与项目</a>
              </div>
          </div>
          
      </div>
  </section>

</div>

		