	<section class="bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <h2>创造 + 分享</h2>
            <p class="mb40 mb-xs-24">摄影与文艺, &nbsp;你的作品, 让全世界看到<br>免费授权使用的手选佳片</p>
            <a class="mb0 btn btn-lg btn-filled" href="#purchase-template">上传你的作品</a>
        </div>
      </div>
    </div>
  </section>

  <section class="projects p0 bg-dark">
    <div class="row masonry-loader fixed-center">
      <div class="col-sm-12 text-center">
          <div class="spinner"></div>
      </div>
    </div>
    <div class="row image-bg masonry masonryFlyIn">
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="/pages/single-photo">
                    <%= image_tag 'project-single-1.jpg', alt: 'pic' %>
                    <div class="title">
                      <h5 class="uppercase mb0" style="line-height: 35px;">
                        <a class="light" href="/pages/user.html" >
                          <p style="margin:0 auto;width:40px;height:40px;border-radius: 100px;background:url(http://placehold.it/100x100);border: 1px solid #eee;"></p>
                          凝固的黎明
                        </a>
                      </h5>
                      <span>
                          <a style="color:red;" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a> 379
                      </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Animals">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-2.jpg', alt: 'pic' %>
                    <div class="title">
                      <h5 class="uppercase mb0" style="line-height: 35px;">
                        <a href="/pages/user.html" >
                          <p style="margin:0 auto;width:40px;height:40px;border-radius: 100px;background:url(http://placehold.it/100x100);border: 1px solid #eee;"></p>
                          凝固的黎明
                        </a>
                      </h5>
                      <span>
                          <a style="color:red;" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a> 379
                      </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-3.jpg', alt: 'pic' %>
                    <div class="title">
                      <h5 class="uppercase mb0" style="line-height: 35px;">
                        <a href="/pages/user.html" >
                          <p style="margin:0 auto;width:40px;height:40px;border-radius: 100px;background:url(http://placehold.it/100x100);border: 1px solid #eee;"></p>
                          凝固的黎明
                        </a>
                      </h5>
                      <span>
                          <a style="color:red;" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a> 379
                      </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Objects">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-5.jpg', alt: 'pic' %>
                    <div class="title">
                      <h5 class="uppercase mb0" style="line-height: 35px;">
                        <a href="/pages/user.html" >
                          <p style="margin:0 auto;width:40px;height:40px;border-radius: 100px;background:url(http://placehold.it/100x100);border: 1px solid #eee;"></p>
                          凝固的黎明
                        </a>
                      </h5>
                      <span>
                          <a style="color:red;" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a> 379
                      </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Objects">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-4.jpg', alt: 'pic' %>
                    <div class="title">
                      <h5 class="uppercase mb0" style="line-height: 35px;">
                        <a href="/pages/user.html" >
                          <p style="margin:0 auto;width:40px;height:40px;border-radius: 100px;background:url(http://placehold.it/100x100);border: 1px solid #eee;"></p>
                          凝固的黎明
                        </a>
                      </h5>
                      <span>
                          <a style="color:red;" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a> 379
                      </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-6.jpg', alt: 'pic' %>
                    <div class="title">
                      <h5 class="uppercase mb0" style="line-height: 35px;">
                        <a href="/pages/user.html" >
                          <p style="margin:0 auto;width:40px;height:40px;border-radius: 100px;background:url(http://placehold.it/100x100);border: 1px solid #eee;"></p>
                          凝固的黎明
                        </a>
                      </h5>
                      <span>
                          <a style="color:red;" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a> 379
                      </span>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img src="https://images.unsplash.com/photo-1475153244630-8adc381a1de7" />
                    <div class="title">
                      <h5 class="uppercase mb0" style="line-height: 35px;">
                        <a href="/pages/user.html" >
                          <p style="margin:0 auto;width:40px;height:40px;border-radius: 100px;background:url(http://placehold.it/100x100);border: 1px solid #eee;"></p>
                          凝固的黎明
                        </a>
                      </h5>
                      <span>
                          <a style="color:red;" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a> 379
                      </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Animals">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img src="https://images.unsplash.com/photo-1469938880222-00039554fd87" />
                    <div class="title">
                      <h5 class="uppercase mb0" style="line-height: 35px;">
                        <a href="/pages/user.html" >
                          <p style="margin:0 auto;width:40px;height:40px;border-radius: 100px;background:url(http://placehold.it/100x100);border: 1px solid #eee;"></p>
                          凝固的黎明
                        </a>
                      </h5>
                      <span>
                          <a style="color:red;" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a> 379
                      </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img src="https://images.unsplash.com/photo-1477287474017-e49046e195ed" />
                    <div class="title">
                      <h5 class="uppercase mb0" style="line-height: 35px;">
                        <a href="/pages/user.html" >
                          <p style="margin:0 auto;width:40px;height:40px;border-radius: 100px;background:url(http://placehold.it/100x100);border: 1px solid #eee;"></p>
                          凝固的黎明
                        </a>
                      </h5>
                      <span>
                          <a style="color:red;" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a> 379
                      </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Objects">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img src="https://images.unsplash.com/photo-1475254614609-c3478f2adaf3" />
                    <div class="title">
                      <h5 class="uppercase mb0" style="line-height: 35px;">
                        <a class="light" href="/pages/user.html" >
                          <p style="margin:0 auto;width:40px;height:40px;border-radius: 100px;background:url(http://placehold.it/100x100);border: 1px solid #eee;"></p>
                          凝固的黎明
                        </a>
                      </h5>
                      <span>
                          <a style="color:red;" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a> 379
                      </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Objects">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img src="https://images.unsplash.com/photo-1465070845512-2b2dbdc6df66" />
                    <div class="title">
                      <h5 class="uppercase mb0" style="line-height: 35px;">
                        <a href="/pages/user.html" >
                          <p style="margin:0 auto;width:40px;height:40px;border-radius: 100px;background:url(http://placehold.it/100x100);border: 1px solid #eee;"></p>
                          凝固的黎明
                        </a>
                      </h5>
                      <span>
                          <a style="color:red;" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a> 379
                      </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img src="https://images.unsplash.com/photo-1455717974081-0436a066bb96?dpr=2&auto=format&fit=crop&w=1500&h=2251&q=80&cs=tinysrgb&crop=">
                    <div class="title">
                      <h5 class="uppercase mb0" style="line-height: 35px;">
                        <a href="/pages/user.html" >
                          <p style="margin:0 auto;width:40px;height:40px;border-radius: 100px;background:url(http://placehold.it/100x100);border: 1px solid #eee;"></p>
                          凝固的黎明
                        </a>
                      </h5>
                      <span>
                          <a style="color:red;" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a> 379
                      </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <%= image_tag 'project-single-6.jpg', alt: 'pic' %>
                    <div class="title">
                      <h5 class="uppercase mb0" style="line-height: 35px;">
                        <a href="/pages/user.html" >
                          <p style="margin:0 auto;width:40px;height:40px;border-radius: 100px;background:url(http://placehold.it/100x100);border: 1px solid #eee;"></p>
                          凝固的黎明
                        </a>
                      </h5>
                      <span>
                          <a style="color:red;" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a> 379
                      </span>
                    </div>
                </a>
            </div>
        </div>

    </div>
  </section>
  <section class="image-bg bg-dark parallax overlay pt120 pb120">
      <div class="background-image-holder">
          <img alt="Background Image" class="background-image" src="https://images.unsplash.com/photo-1431631927486-6603c868ce5e?dpr=2&auto=compress,format&fit=crop&w=1000">
      </div>
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center">
                  <h2 class="uppercase mb8">从前的样子</h2>
                  <p class="lead mb40">说不完的话，拍不完的片，转瞬而去却依然如初<br>怀旧光影题材主题征集作品中</p>
                  <a class="btn btn-lg btn-white mb0" href="#">参与项目</a>
              </div>
          </div>

      </div>
  </section>
  <section class="image-bg bg-dark parallax overlay pt120 pb120">
      <div class="background-image-holder">
          <img alt="Background Image" class="background-image" src="https://images.unsplash.com/photo-1476846764689-14e2b6b2f133?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=">
      </div>
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center">
                  <h2 class="uppercase mb8">黑 + 白</h2>
                  <p class="lead mb40">对比，光影，力量，层次，永远不灭的摄影主题</p>
                  <a class="btn btn-lg btn-white mb0" href="#">参与项目</a>
              </div>
          </div>

      </div>
  </section>
