<section class="page-title page-title-4 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="uppercase mb0">
                    <i class="ti-gallery"></i>最新上传</h3>
            </div>
            <div class="col-md-6 text-right">
                <ol class="breadcrumb breadcrumb-2">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li class="active">最新上传</li>
                </ol>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="projects p0 bg-dark">
      <!-- <ul class="filters floating cast-shadow mb0">
      </ul> -->
    <div class="row masonry-loader fixed-center fadeOut">
        <div class="col-sm-12 text-center">
            <div class="spinner"></div>
        </div>
    </div>
    <div class="row masonry masonryFlyIn fadeIn" style="position: relative; height: 1892px;">
        <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 0px; top: 0px;">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="/pages/single-photo.html">
                    <%= image_tag 'project-single-1.jpg', alt: 'pic' %>
                    </a><div class="title"><a href="#">
                        </a><h5 class="uppercase mb0" style="line-height: 35px;"><a href="#">凝固的黎明</a></h5>
                        <span>People / Life</span>
                    </div>
                
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Animals" style="position: absolute; left: 436px; top: 0px;">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="/pages/single-photo.html">
                    <%= image_tag 'project-single-2.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Lonely Dog</h5>
                        <span>Animals / Art</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 873px; top: 0px;">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="/pages/single-photo.html">
                    <%= image_tag 'project-single-3.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Pondering Blonde</h5>
                        <span>People / Life</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Objects" style="position: absolute; left: 436px; top: 291px;">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="/pages/single-photo.html">
                    <%= image_tag 'project-single-5.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Vintage Typewriter</h5>
                        <span>Objects / Isolated</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Objects" style="position: absolute; left: 0px; top: 655px;">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="/pages/single-photo.html">
                    <%= image_tag 'project-single-4.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Summer Lovin'</h5>
                        <span>Objects / Food</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 873px; top: 655px;">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="/pages/single-photo.html">
                    <%= image_tag 'project-single-6.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Thick Fog</h5>
                        <span>People / Life</span>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 0px; top: 946px;">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="/pages/single-photo.html">
                    <%= image_tag 'project-single-1.jpg', alt: 'pic' %>
                    </a><div class="title"><a href="#">
                        </a><h5 class="uppercase mb0" style="line-height: 35px;"><a href="#">凝固的黎明</a></h5>
                        <span>People / Life</span>
                    </div>
                
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Animals" style="position: absolute; left: 436px; top: 946px;">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="/pages/single-photo.html">
                    <%= image_tag 'project-single-2.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Lonely Dog</h5>
                        <span>Animals / Art</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 873px; top: 946px;">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="/pages/single-photo.html">
                    <%= image_tag 'project-single-3.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Pondering Blonde</h5>
                        <span>People / Life</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Objects" style="position: absolute; left: 436px; top: 1237px;">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="/pages/single-photo.html">
                    <%= image_tag 'project-single-5.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Vintage Typewriter</h5>
                        <span>Objects / Isolated</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Objects" style="position: absolute; left: 0px; top: 1601px;">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="/pages/single-photo.html">
                    <%= image_tag 'project-single-4.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Summer Lovin'</h5>
                        <span>Objects / Food</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 873px; top: 1601px;">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="/pages/single-photo.html">
                    <%= image_tag 'project-single-6.jpg', alt: 'pic' %>
                    <div class="title">
                        <h5 class="uppercase mb0">Thick Fog</h5>
                        <span>People / Life</span>
                    </div>
                </a>
            </div>
        </div>
    </div> 
</section>